---
import Baselayout from "../layout/Baselayout.astro"



const response = await fetch('http://localhost:8080/api/collections/case_studies/records')
const data = await response.json();
---

<Baselayout>

  <ul>
  {data.items.map((item:any) => (
    <li >{item.title} - {item.slug}</li>
  ))}
    </ul>
</Baselayout>
